@import url('buttons.css');
@import url('spinner.css');
@import url('card.css');

@font-face {
    font-family: 'Lilita One';
    src: url('../font/LilitaOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}
:root {
    --s-loader-wrapper-bg-color: rgb(21, 22, 43);
    --s-loader-width: 20px;
    --s-loader-height: var(--s-loader-width);
    --s-loader-border-color-trans: rgba(255, 235, 59, 0.3);
    --s-loader-border-color-full: #FFEB3B;
    --rojo:#f12639;
    --lime: #82c91e;
    --verde-on: #00d27a;
    --verde-energia: #2cc185;
    --s-gris-fondo1:#f4f4f4;
    --negro-fondo1:#323232;
    --s-morado-fondo1:#727cf5;
    --fondo-gris-claro:#edf2f9;
    --fondo-amarillo:#ffc107 ;
    --fondo-gris2: #aab8c2; 
  }

@media screen and (min-width: 320px) and (max-width: 736px) {
    body{
        background: var(--fondo-gris-claro);
    }
    .info{
        display: flex;
        flex-direction: row;
       
    }
    /* .info-turno{
        background: var(--fondo-gris2); 
        color: var(--fondo-amarillo); 
    } */
    .info-turno,
    .info-ganador{
        text-align: center;
        margin: 0 auto;
        /* background:#aab8c2; */
        width:45%;
    }
    .seleccion {
        height: 100vh;
        width: 100%;
        background: rgba(49, 49, 49, 0.98);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: gray;
        margin: 10px;
        padding: 10px;
    }

    .contenedor-tarjeta {
        width: 100%;
        background: white;
        margin-bottom: 20px;
    }

    .datos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: gray;
        text-align: center;
    }

    .datos>div {
        width: 30%;
    }

    .barra-vida {
        background: var(--rojo);
    }

    .potenciadores {
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 0;
    }

    .potenciadores>div {
        width: 30%;
    }
}